In [6]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
from numpy import NaN

### 一、数据处理

In [ ]:
#脏数据 空值、异常值、重复值  
#手段1: 删除 dropna()
#手段2:  修正  
#手段3： 删除重复值

In [13]:
# 2 处理DataFrame对象
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)

# 默认滤除所有包含NaN：
# print(df1.dropna())

# 传入how=‘all’滤除全为NaN的行：
# print(df1.dropna(how='all')) # 默认情况下是how='any'，只要有nan就删除

# 传入axis=1滤除列：
# print(df1.dropna(axis=1,how="all"))

#传入thresh=n保留至少有n个非NaN数据的行：
# print(df1.dropna(thresh=1))

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
3  8.0  8.0  NaN

In [29]:
# 3 填充缺失数据
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)

# 用常数填充fillna
print(df1.fillna(0))
# print(df1)
#传入inplace=True直接修改原对象：
df1.fillna(0,inplace=True)
print(df1)

# 通过字典填充不同的常数
#{key 列号: value 数值 }
print(df1.fillna({0:10,1:20,2:30})) 

# 填充平均值
print(df1.fillna(df1.mean()))
# # 如果只填充一列
# print(df1.iloc[:,1].fillna(5,inplace = True))
# print(df1)

# 传入method=” “改变插值方式：
df2=pd.DataFrame(np.random.randint(0,10,(5,5)))
df2.iloc[1:4,3]=NaN
df2.iloc[2:4,4]=NaN
print(df2)
# 用前面的值来填充ffill   用后面的值来填充bfill
print(df2.fillna(method='ffill'))

# # 传入limit=” “限制填充行数：
print(df2.fillna(method='bfill',limit=1))

# # 传入axis=” “修改填充方向：
print(df2.fillna(method="ffill",limit=1,axis=1))

   0  1  2    3    4
0  9  0  2  9.0  8.0
1  4  1  6  NaN  8.0
2  0  5  3  NaN  NaN
3  4  2  4  NaN  NaN
4  3  5  3  4.0  9.0
   0  1  2    3    4
0  9  0  2  9.0  8.0
1  4  1  6  9.0  8.0
2  0  5  3  9.0  8.0
3  4  2  4  9.0  8.0
4  3  5  3  4.0  9.0
   0  1  2    3    4
0  9  0  2  9.0  8.0
1  4  1  6  NaN  8.0
2  0  5  3  NaN  NaN
3  4  2  4  4.0  9.0
4  3  5  3  4.0  9.0
     0    1    2    3    4
0  9.0  0.0  2.0  9.0  8.0
1  4.0  1.0  6.0  6.0  8.0
2  0.0  5.0  3.0  3.0  NaN
3  4.0  2.0  4.0  4.0  NaN
4  3.0  5.0  3.0  4.0  9.0

In [34]:
from numpy import nan as NaN
# 1通过**dropna()**滤除缺失数据：
se=pd.Series([4,NaN,8,NaN,5])
print(se)
print(se.dropna()) #删除异常值 
print("*****")
print(se.notnull()) 
print(se.isnull())  

# #通过布尔序列 过滤 
se[se.notnull()]

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64
0    4.0
2    8.0
4    5.0
dtype: float64
*****
0     True
1    False
2     True
3    False
4     True
dtype: bool
0    False
1     True
2    False
3     True
4    False
dtype: bool

0    4.0
2    8.0
4    5.0
dtype: float64

In [40]:
# 4 移除重复数据
'''
DataFrame中经常会出现重复行，利用duplicated()函数返回每一行判断是否重复的结果（重复则为True)
'''
df1=pd.DataFrame({'A':[1,1,1,2,2,3,1],'B':list("aabbbca")})
print(df1)

# 判断每一行是否重复(结果是bool值，TRUE代表重复的)
print(df1.duplicated())

# 去除全部的重复行
print(df1.drop_duplicates())

# # 指定列去除重复行
# print(df1.drop_duplicates(['A']))

# 保留重复行中的最后一行
print(df1.drop_duplicates(['A'],keep='last'))

# 去除重复的同时改变DataFrame对象
# df1.drop_duplicates(['A','B'],inplace=True)
# print(df1)

   A  B
0  1  a
1  1  a
2  1  b
3  2  b
4  2  b
5  3  c
6  1  a
   A  B
0  1  a
2  1  b
3  2  b
5  3  c

In [2]:
# 使用join合并，着重关注的是行的合并
import pandas as pd
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abc'))
df4=pd.DataFrame({'Blue':[1,9,8],'Yellow':[6,6,7]},index=list('cde'))
print(df3)
print(df4)

# # 简单合并（默认是left左连接,以左侧df3为基础）
df3.join(df4,how='left')

# # 右链接
df3.join(df4,how='right')

# # 外链接。也称全连接
df3.join(df4,how='outer')

# # 合并多个DataFrame对象
df5=pd.DataFrame({'Brown':[3,4,5],'Pink':[1,1,2]},index=list('aed'))
df3.join([df4,df5])

   Red  Green
a    1      5
b    3      0
c    5      3
   Blue  Yellow
c     1       6
d     9       6
e     8       7

   Red  Green  Blue  Yellow  Brown  Pink
a  1.0    5.0   NaN     NaN    3.0   1.0
b  3.0    0.0   NaN     NaN    NaN   NaN
c  5.0    3.0   1.0     6.0    NaN   NaN

In [9]:
# 使用merge，着重关注的是列的合并
df1=pd.DataFrame({'名字':list('ABCDE'),'性别':['男','女','男','男','女'],'职称':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
df1.columns.name='学院老师'
df1.index.name='编号'
print(df1)

df2=pd.DataFrame({'名字':list('ABDAX'),'课程':['C++','计算机导论','汇编','数据结构','马克思原理'],'职称':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
df2.columns.name='课程'
df2.index.name='编号'
print(df2)

# # 默认下是根据左右对象中出现同名的列作为连接的键，且连接方式是how=’inner’
# print(pd.merge(df1,df2))# 返回匹配的

# # 指定列名合并
# pd.merge(df1,df2,on='名字',suffixes=['_1','_2'])# 返回匹配的

# # 连接方式，根据左侧为准
# pd.merge(df1,df2,how='left')

# # 根据右侧为准
# pd.merge(df1,df2,how='right')

# # 所有
pd.merge(df1,df2,how='outer')

# # 根据多个键进行连接
# pd.merge(df1,df2,on=['职称','名字'])

学院老师 名字 性别   职称
编号
1001  A  男  副教授
1002  B  女   讲师
1003  C  男   助教
1004  D  男   教授
1005  E  女   助教
课程   名字     课程   职称
编号
1001  A    C++  副教授
1002  B  计算机导论   讲师
1004  D     汇编   教授
1001  A   数据结构  副教授
3001  X  马克思原理   讲师

  名字   性别   职称     课程
0  A    男  副教授    C++
1  A    男  副教授   数据结构
2  B    女   讲师  计算机导论
3  C    男   助教    NaN
4  D    男   教授     汇编
5  E    女   助教    NaN
6  X  NaN   讲师  马克思原理

In [11]:
# 轴向连接-Concat
# 1. Series对象的连接
s1=pd.Series([1,2],index=list('ab'))
s2=pd.Series([3,4,5],index=list('abc'))
print(s1)
print(s2)
pd.concat([s1,s2])

#横向连接 默认join = 'outer'
# pd.concat([s1,s2],axis=1)

# # 用内连接求交集(连接方式，共有’inner’,’outer’)
# pd.concat([s1,s2],axis=1,join='inner')

# # 指定部分索引进行连接  已经废弃 
# # pd.concat([s1,s2],axis=1,join_axes=[list('abc')])

# # 创建层次化索引
# pd.concat([s1,s2],keys=['A','B'])

# #当纵向连接时keys为列名
# pd.concat([s1,s2],keys=['A','D'],axis=1)

# print("*******")
# # 2. DataFrame对象的连接
# df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abd'))
# df4=pd.DataFrame({'Blue':[1,9],'Yellow':[6,6]},index=list('ce'))
# print(df3)
# print(df4)
# print(pd.concat([df3,df4]))
# pd.concat([df3,df4],axis=1,keys=['A','B'])

# # 用字典的方式连接同样可以创建层次化列索引
# # {key 索引:value 数组本身}
# pd.concat({'A':df3,'B':df4},axis=1)

a    1
b    2
dtype: int64
a    3
b    4
c    5
dtype: int64

a    1
b    2
a    3
b    4
c    5
dtype: int64

In [68]:
# Series也可以创建多层索引
#index=[[第一层][第二层]]
s = Series(np.random.randint(0,150,size=6),index=list('abcdef'))
print(s)
s = Series(np.random.randint(0,150,size=6),
           index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
print(s)

# DataFrame创建多层索引
df1 = DataFrame(np.random.randint(0,150,size=(6,4)),
               columns = ['zs','ls','ww','zl'],
               index = [['python','python','math','math','En','En'],['期中','期末','期中','期末','期中','期末']])
print(df1)

a     97
b    113
c    133
d     50
e    126
f     42
dtype: int32
a  期中    120
   期末     74
b  期中     61
   期末    122
c  期中    148
   期末     73
dtype: int32
            zs   ls   ww   zl
python 期中  126  105   94  149
       期末   85  107   68   93
math   期中  102  110    2   75
       期末    0   72  144   38
En     期中  106  128   26   41
       期末  100  121  137   27

In [69]:
class1=['python','python','math','math','En','En']
class2=['期中','期末','期中','期末','期中','期末']
m_index2=pd.MultiIndex.from_arrays([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

class1=['期中','期中','期中','期末','期末','期末']
class2=['python','math','En','python','math','En']
m_index2=pd.MultiIndex.from_arrays([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

             0    1    2    3
python 期中  145    2   42   81
       期末    1  116   25   35
math   期中   68    3   19   67
       期末   11    4   67   55
En     期中    4  121  126    8
       期末   84   95   51  104
             0    1    2   3
期中 python   90    2   60  18
   math    102   93   95  69
   En       71   38  121   1
期末 python   53  140   53  68
   math    113  106    5   9
   En       87   93   86  16

In [74]:
# 3. product构造 class1.size(3) * class2.size(2) = row(6)
class1=['python','math','En']
class2=['期中','期末']
m_index2=pd.MultiIndex.from_product([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

             0    1    2    3
python 期中   47  107  102   49
       期末   79    1  132    7
math   期中   79  101    9  125
       期末   93  118   60   23
En     期中  105   61   22  120
       期末  110  146   63  119

In [83]:
#多层索引对象的索引操作
# series
s = Series(np.random.randint(0,150,size=6),
           index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
print(s)
# 取一个第一级索引
# print(s['a'])

# 取多个第一级索引
# print(s[['a','b']])

# 根据索引获取值
# print(s['a','期末'])

# loc方法取值
print(s.loc['a'])
print(s.loc[['a','b']])
print(s.loc['a','期末'])

print("*****")
# iloc方法取值(iloc计算的事最内层索引)
print(s.iloc[1])

print(s.iloc[1:4])

a  期中     32
   期末      3
b  期中     24
   期末    111
c  期中     84
   期末     54
dtype: int32
期中    32
期末     3
dtype: int32
a  期中     32
   期末      3
b  期中     24
   期末    111
dtype: int32
3
*****
3
a  期末      3
b  期中     24
   期末    111
dtype: int32

In [92]:
# dataframe
class1=['python','math','En']
class2=['期中','期末']
m_index2=pd.MultiIndex.from_product([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

# 获取列
print(df2[0])

# 一级索引
print(df2.loc['python'])

# 多个一级索引
print(df2.loc[['python','math']])

# 取一行
print(df2.loc['python','期末'])

# 取一值
print(df2.loc['python','期末'][0])

# iloc是只取最内层的索引的
print(df2.iloc[0])

             0    1    2    3
python 期中  105  103   36  147
       期末   45   65  110   10
math   期中  109   62   15  106
       期末   35   92   69  134
En     期中  122  117   58   72
       期末   53  141  112   53
python  期中    105
        期末     45
math    期中    109
        期末     35
En      期中    122
        期末     53
Name: 0, dtype: int32
      0    1    2    3
期中  105  103   36  147
期末   45   65  110   10
             0    1    2    3
python 期中  105  103   36  147
       期末   45   65  110   10
math   期中  109   62   15  106
       期末   35   92   69  134
0     45
1     65
2    110
3     10
Name: (python, 期末), dtype: int32
45
0    105
1    103
2     36
3    147
Name: (python, 期中), dtype: int32

In [94]:
# start开始，end结束时间
# date = pd.date_range(start='20190501',end='20190530')
# print(date)

# freq：日期偏移量，取值为string, 默认为'D'，  freq='1h30min'  freq='10D'
# periods：固定时期，取值为整数或None.这里表示取十个数
date = pd.date_range(start='20190501',periods=10,freq='10D')
print(date)

DatetimeIndex(['2019-05-01', '2019-05-11', '2019-05-21', '2019-05-31',
               '2019-06-10', '2019-06-20', '2019-06-30', '2019-07-10',
               '2019-07-20', '2019-07-30'],
              dtype='datetime64[ns]', freq='10D')

In [96]:
# closed='left'表示左闭右开
# closed = 'right'表示左开右闭
data_time =pd.date_range(start='2019-01-09',end='2019-01-14',closed='left')
print(data_time)

DatetimeIndex(['2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13'],
              dtype='datetime64[ns]', freq='D')

In [97]:
# 可以将时间作为索引
index = pd.date_range(start='20190101',periods=10)
df = pd.Series(np.random.randint(0,10,size = 10),index=index)
print(df)

2019-01-01    4
2019-01-02    9
2019-01-03    7
2019-01-04    2
2019-01-05    8
2019-01-06    2
2019-01-07    4
2019-01-08    6
2019-01-09    5
2019-01-10    0
Freq: D, dtype: int32

In [98]:
# truncate这个函数将before指定日期之前的值全部过滤出去,after指定日期之前的值全部过滤出去.
after = df.truncate(before='2019-01-8')
print(after)

2019-01-08    6
2019-01-09    5
2019-01-10    0
Freq: D, dtype: int32

In [102]:
long_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2019',periods=1000))
print(long_ts)
print("******")
# 根据年份获取
result = long_ts['2020']
print(result)

# 年份和日期获取
result = long_ts['2020-05']
print(result)

# 使用切片
result = long_ts['2020-05-01':'2020-05-06']
print(result)

2019-01-01   -0.664230
2019-01-02   -0.902596
2019-01-03   -1.364698
2019-01-04    1.791811
2019-01-05   -1.076365
                ...
2021-09-22    1.303407
2021-09-23   -0.786620
2021-09-24   -1.436028
2021-09-25   -0.361284
2021-09-26   -0.556417
Freq: D, Length: 1000, dtype: float64
******
2020-05-01    1.076409
2020-05-02   -1.012363
2020-05-03    0.480134
2020-05-04   -0.924592
2020-05-05    0.975410
2020-05-06   -1.327608
Freq: D, dtype: float64

In [105]:
# 通过between_time()返回位于指定时间段的数据集
index=pd.date_range("2018-03-17","2018-03-30",freq="2H")
ts = pd.Series(np.random.randn(157),index=index)
print(ts)
print(ts.between_time("7:00","17:00"))

# datetime date['2020-05']  time between_time()

2018-03-17 00:00:00   -0.070299
2018-03-17 02:00:00   -1.338436
2018-03-17 04:00:00   -0.578704
2018-03-17 06:00:00    0.300917
2018-03-17 08:00:00   -1.159701
                         ...
2018-03-29 16:00:00    0.329894
2018-03-29 18:00:00   -0.454036
2018-03-29 20:00:00   -1.669797
2018-03-29 22:00:00    0.517406
2018-03-30 00:00:00    0.440349
Freq: 2H, Length: 157, dtype: float64
2018-03-17 08:00:00   -1.159701
2018-03-17 10:00:00   -0.420634
2018-03-17 12:00:00   -0.973783
2018-03-17 14:00:00   -0.023174
2018-03-17 16:00:00    0.376592
                         ...
2018-03-29 08:00:00    1.101352
2018-03-29 10:00:00   -1.557081
2018-03-29 12:00:00    1.866544
2018-03-29 14:00:00    0.150486
2018-03-29 16:00:00    0.329894
Length: 65, dtype: float64

In [14]:
import numpy as np
# 6. 移位日期
ts = pd.Series(np.random.randn(10),index=pd.date_range('1/1/2019',periods=10))
print(ts)

2019-01-01   -1.821482
2019-01-02   -1.236970
2019-01-03   -1.386054
2019-01-04    0.193786
2019-01-05   -0.321915
2019-01-06   -0.494599
2019-01-07    1.441712
2019-01-08    0.897267
2019-01-09    0.524598
2019-01-10    1.234626
Freq: D, dtype: float64

In [15]:
# 向上移动
ts.shift(periods=2,fill_value=100,freq='D')

2019-01-03   -1.821482
2019-01-04   -1.236970
2019-01-05   -1.386054
2019-01-06    0.193786
2019-01-07   -0.321915
2019-01-08   -0.494599
2019-01-09    1.441712
2019-01-10    0.897267
2019-01-11    0.524598
2019-01-12    1.234626
Freq: D, dtype: float64

In [16]:
# ts.tshift(5)
ts.shift(5)

2019-01-01         NaN
2019-01-02         NaN
2019-01-03         NaN
2019-01-04         NaN
2019-01-05         NaN
2019-01-06   -1.821482
2019-01-07   -1.236970
2019-01-08   -1.386054
2019-01-09    0.193786
2019-01-10   -0.321915
Freq: D, dtype: float64

In [114]:
pd.to_datetime(1554970740000,unit='ms')

Timestamp('2019-04-11 08:19:00')

In [115]:
import pytz  #时区 360 /24  15度， 116  15*8 = 120 
print(pytz.common_timezones)

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Fort_Nelson', 'America/Fortaleza', 'America/Glace_Bay', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Colombo', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kathmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Riyadh', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ulaanbaatar', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faroe', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/Perth', 'Australia/Sydney', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GMT', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Wake', 'Pacific/Wallis', 'US/Alaska', 'US/Arizona', 'US/Central', 'US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [116]:
pd.to_datetime(1554970740000,unit='ms').tz_localize('UTC').tz_convert('Asia/Shanghai')

Timestamp('2019-04-11 16:19:00+0800', tz='Asia/Shanghai')

In [117]:
# 处理中文
pd.to_datetime('2019年10月10日',format='%Y年%m月%d日')

Timestamp('2019-10-10 00:00:00')

In [118]:
# 分组
import pandas as pd
import numpy as np
df=pd.DataFrame({
    'name':['BOSS','Lilei','Lilei','Han','BOSS','BOSS','Han','BOSS'],
    'Year':[2016,2016,2016,2016,2017,2017,2017,2017],
    'Salary':[999999,20000,25000,3000,9999999,999999,3500,999999],
    'Bonus':[100000,20000,20000,5000,200000,300000,3000,400000]
    })

print(df)

    name  Year   Salary   Bonus
0   BOSS  2016   999999  100000
1  Lilei  2016    20000   20000
2  Lilei  2016    25000   20000
3    Han  2016     3000    5000
4   BOSS  2017  9999999  200000
5   BOSS  2017   999999  300000
6    Han  2017     3500    3000
7   BOSS  2017   999999  400000

In [126]:
# 根据name这一列进行分组
group_by_name=df.groupby('name')
# print(type(group_by_name))
# print(group_by_name)
# 查看分组
# print(group_by_name.groups)
# 分组后的数量
# print(group_by_name.count())

# 产看分组的情况
for name,group in group_by_name:
    print(name)# 组的名字
    print(group)# 组具体内容

BOSS
   name  Year   Salary   Bonus
0  BOSS  2016   999999  100000
4  BOSS  2017  9999999  200000
5  BOSS  2017   999999  300000
7  BOSS  2017   999999  400000
Han
  name  Year  Salary  Bonus
3  Han  2016    3000   5000
6  Han  2017    3500   3000
Lilei
    name  Year  Salary  Bonus
1  Lilei  2016   20000  20000
2  Lilei  2016   25000  20000

In [127]:
print(group_by_name.get_group('BOSS'))

   name  Year   Salary   Bonus
0  BOSS  2016   999999  100000
4  BOSS  2017  9999999  200000
5  BOSS  2017   999999  300000
7  BOSS  2017   999999  400000

In [128]:
# 按照某一列进行分组, 将name这一列作为分组的键，对year进行分组
group_by_name=df['Year'].groupby(df['name'])
print(group_by_name.count())

name
BOSS     4
Han      2
Lilei    2
Name: Year, dtype: int64

In [129]:
# 按照多列进行分组
group_by_name_year=df.groupby(['name','Year'])

for name,group in group_by_name_year:
    print(name)# 组的名字
    print(group)# 组具体内容

# 可以选择分组
print(group_by_name_year.get_group(('BOSS',2016)))

('BOSS', 2016)
   name  Year  Salary   Bonus
0  BOSS  2016  999999  100000
('BOSS', 2017)
   name  Year   Salary   Bonus
4  BOSS  2017  9999999  200000
5  BOSS  2017   999999  300000
7  BOSS  2017   999999  400000
('Han', 2016)
  name  Year  Salary  Bonus
3  Han  2016    3000   5000
('Han', 2017)
  name  Year  Salary  Bonus
6  Han  2017    3500   3000
('Lilei', 2016)
    name  Year  Salary  Bonus
1  Lilei  2016   20000  20000
2  Lilei  2016   25000  20000
   name  Year  Salary   Bonus
0  BOSS  2016  999999  100000

In [132]:
# 将某列数据按数据值分成不同范围段进行分组（groupby）运算
df = pd.DataFrame({'Age': np.random.randint(20, 70, 100), 
                    'Sex': np.random.choice(['M', 'F'], 100), 
                    })
# print(df)
#1.划分年龄段 
#每一段是什么样子 bins  19-40  40-65   65-100
age_groups = pd.cut(df['Age'], bins=[19,40,65,100])
print(age_groups)
# print(df.groupby(age_groups).count())

# # 按‘Age’分组范围和性别（sex）进行制作交叉表
pd.crosstab(age_groups, df['Sex'])

0     (40, 65]
1     (40, 65]
2     (19, 40]
3     (19, 40]
4     (40, 65]
        ...
95    (40, 65]
96    (19, 40]
97    (40, 65]
98    (40, 65]
99    (19, 40]
Name: Age, Length: 100, dtype: category
Categories (3, interval[int64]): [(19, 40] < (40, 65] < (65, 100]]

Sex         F   M
Age
(19, 40]   26  15
(40, 65]   30  25
(65, 100]   2   2

In [133]:
df1=pd.DataFrame({'Data1':np.random.randint(0,10,5),
                  'Data2':np.random.randint(10,20,5),
                  'key1':list('aabba'),
                  'key2':list('xyyxy')})
print(df1)

   Data1  Data2 key1 key2
0      5     10    a    x
1      5     12    a    y
2      0     17    b    y
3      0     19    b    x
4      0     11    a    y

In [134]:
print(df1.groupby('key1').sum())

      Data1  Data2
key1
a        10     33
b         0     36

In [136]:
# 只算data1
print(df1['Data1'].groupby(df1['key1']).sum())
print(df1.groupby('key1')['Data2'].sum())

key1
a    10
b     0
Name: Data1, dtype: int32
key1
a    33
b    36
Name: Data2, dtype: int32

In [137]:
# 可以同时做多个聚合运算
print(df1.groupby('key1').agg(['sum','mean','std']))

     Data1                     Data2
       sum      mean       std   sum mean       std
key1
a       10  3.333333  2.886751    33   11  1.000000
b        0  0.000000  0.000000    36   18  1.414214

In [138]:
# 可自定义函数，传入agg方法中 grouped.agg(func)
def peak_range(df):
    """
        返回数值范围
    """
    return df.max() - df.min()

print(df1.groupby('key1').agg(peak_range))

      Data1  Data2
key1
a         5      2
b         0      2