一。一维数组

In [2]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

sel =  Series([1,2,3,4])
print(sel)

# 通常我们会自己创建索引
#data数值，index索引，指定索引 
#不指定索引， 【0，1，2， len(data)-1】
sel =  Series(data = [1,2,3,4], index = ['a','b','c','d'])
sel =  Series(data = [1,2,3,4], index = list('abcd'))
print(sel)
# 获取内容
print(sel.values)
# 获取索引
print(sel.index)
# 获取索引和值对
print(list(sel.iteritems()))

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
[1 2 3 4]
Index(['a', 'b', 'c', 'd'], dtype='object')
[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [48]:
# 将字典转换为Series
#key 变为索引， value 变为值 
dict={"red":100,"black":400,"green":300,"pink":900}
se3=Series(dict)
print(se3)

red      100
black    400
green    300
pink     900
dtype: int64

In [49]:
# Series数据获取
sel =  Series(data = [1,2,3,4], index = list('abcd'))
print(sel)

# Series对象同时支持位置和标签两种方式获取数据
print('索引下标',sel['c'])
print('位置下标',sel[2])

print("---------")
# 获取不连续的数据
print('索引下标',sel[['a','c']])
print('位置下标',sel[[1,3]])

print("---------")
# 可以使用切片或取数据
print('位置切片',sel[1:3])# 左包含右不包含
print('索引切片',sel['b':'d'])# 左右都包含

a    1
b    2
c    3
d    4
dtype: int64
索引下标 3
位置下标 3
---------
索引下标 a    1
c    3
dtype: int64
位置下标 b    2
d    4
dtype: int64
---------
位置切片 b    2
c    3
dtype: int64
索引切片 b    2
c    3
d    4
dtype: int64

In [50]:
# 重新赋值索引的值
# sel.index = list('dcba')
print(sel)
# # ReIndex重新索引,会返回一个新的Series(调用reindex将会重新排序，缺失值则用NaN填补)
print(sel.reindex(['b','a','c','d','e']))

a    1
b    2
c    3
d    4
dtype: int64
b    2.0
a    1.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [51]:
# Drop丢弃指定轴上的项
se1=pd.Series(range(10,15))
print(se1)
print(se1.drop([2,3]))

0    10
1    11
2    12
3    13
4    14
dtype: int64
0    10
1    11
4    14
dtype: int64

In [52]:
'''
对 Series 的算术运算都是基于 index 进行的。
我们可以用加减乘除（+ - * /）这样的运算符对两个 Series 进行运算，
Pandas 将会根据索引 index，对响应的数据进行计算，结果将会以浮点数的形式存储，以避免丢失精度。
如果 Pandas 在两个 Series 里找不到相同的 index，对应的位置就返回一个空值 NaN
'''
series1 = pd.Series([1,2,3,4],['London','HongKong','Humbai','lagos'])
series2 = pd.Series([1,3,6,4],['London','Accra','lagos','Delhi'])

print(series1)
print(series2)

print("--------")
# print(series1-series2)
# print(series1+series2)
# print(series1*series2)

# # 同样也支持numpy的数组运算
sel =  Series(data = [1,6,3,5], index = list('abcd'))
print(sel)
print(sel[sel>3]) # 布尔数组过滤
print(sel*2) # 标量乘法
print(np.square(sel)) # 可以直接加入到numpy的数学函数

London      1
HongKong    2
Humbai      3
lagos       4
dtype: int64
London    1
Accra     3
lagos     6
Delhi     4
dtype: int64
--------
a    1
b    6
c    3
d    5
dtype: int64
b    6
d    5
dtype: int64
a     2
b    12
c     6
d    10
dtype: int64
a     1
b    36
c     9
d    25
dtype: int64

二.dataframe

In [53]:
# 1. 创建DataFrame
# 使用二维数组
# np.random.randint(low, high, size(4行,4列))
#index行索引, columns列索引 
df1 = DataFrame(np.random.randint(0,10,(4,4)),index=[1,2,3,4],columns=['a','b','c','d'])
print(df1) 

# 使用字典创建(行索引由index决定，列索引由字典的键决定)
dict={
    'Province': ['Guangdong', 'Beijing', 'Qinghai', 'Fujian'],
    'pop': [1.3, 2.5, 1.1, 0.7],
    'year': [2018, 2018, 2018, 2018]}
df2=pd.DataFrame(dict,index=[1,2,3,4])
print(df2)

   a  b  c  d
1  6  2  6  8
2  3  6  0  5
3  7  3  1  0
4  4  1  1  3
    Province  pop  year
1  Guangdong  1.3  2018
2    Beijing  2.5  2018
3    Qinghai  1.1  2018
4     Fujian  0.7  2018

In [54]:
# 使用from_dict
dict3={"a":[1,2,3],"b":[4,5,6]}
df3=pd.DataFrame.from_dict(dict3)
print(df3)

   a  b
0  1  4
1  2  5
2  3  6

In [55]:
#索引相同的情况下，相同索引的值会相对应，缺少的值会添加NaN
data = {
    'Name':pd.Series(['zs','ls','we'],index=['a','b','c']),
    'Age':pd.Series(['10','20','30','40'],index=['a','b','c','d']),
    'country':pd.Series(['中国','日本','韩国'],index=['a','c','b'])
}

df = pd.DataFrame(data)
print(df)
# to_dict()方法将DataFrame对象转换为字典
dict = df.to_dict()
print(dict)

  Name Age country
a   zs  10      中国
b   ls  20      韩国
c   we  30      日本
d  NaN  40     NaN
{'Name': {'a': 'zs', 'b': 'ls', 'c': 'we', 'd': nan}, 'Age': {'a': '10', 'b': '20', 'c': '30', 'd': '40'}, 'country': {'a': '中国', 'b': '韩国', 'c': '日本', 'd': nan}}

In [56]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# dataframe常用属性
df_dict = {
	'name':['James','Curry','Iversion'],
	'age':['18','20','19'],
	'national':['us','China','us']
}
df = pd.DataFrame(data=df_dict,index=['0','1','2'])
print(df)

       name age national
0     James  18       us
1     Curry  20    China
2  Iversion  19       us

In [57]:
# 获取行数和列数
print(df.shape)


# # 获取行索引
print(df.index.tolist())


# # 获取列索引
print(df.columns.tolist())


# 获取数据的类型
print(df.dtypes)

# 获取数据的维度
print(df.ndim)

# values属性也会以二维ndarray的形式返回DataFrame的数据
print(df.values)

# 展示df的概览
print(df.info())
print("------")
# 显示头几行,默认显示5行
print(df.head(2))
print("------")
# 显示后几行
print(df.tail(1))

(3, 3)
['0', '1', '2']
['name', 'age', 'national']
name        object
age         object
national    object
dtype: object
2
[['James' '18' 'us']
 ['Curry' '20' 'China']
 ['Iversion' '19' 'us']]
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3 non-null      object
 1   age       3 non-null      object
 2   national  3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes
None
------
    name age national
0  James  18       us
1  Curry  20    China
------
       name age national
2  Iversion  19       us

In [58]:
#获取多列 
# 获取DataFrame的列
print(df['name'])
#因为我们只获取一列，所以返回的就是一个 Series
print(type(df['name']))

# # 如果获取多个列，那返回的就是一个 DataFrame 类型：
print(df[['name','age']])
print(type(df[['name','age']]))

0       James
1       Curry
2    Iversion
Name: name, dtype: object
<class 'pandas.core.series.Series'>
       name age
0     James  18
1     Curry  20
2  Iversion  19
<class 'pandas.core.frame.DataFrame'>

In [59]:
# 获取一行
print(df[0:1])

# # 去多行
print(df[1:3])

# 取多行里面的某一列（不能进行多行多列的选择）
print(df[1:3][['name','age']])
# 注意： df[]只能进行行选择，或列选择，不能同时多行多列选择。

    name age national
0  James  18       us
       name age national
1     Curry  20    China
2  Iversion  19       us
       name age
1     Curry  20
2  Iversion  19

In [60]:
'''
df.loc 通过标签索引行数据
df.iloc 通过位置获取行数据
'''

# loc[行,列  ]
# loc[ '0',:   ]   ,''
# 获取某一行某一列的数据
print(df.loc['0','name'])

# 一行所有列
print(df.loc['0',:])

# 某一行多列的数据
print(df.loc['0',['name','age']])

# 选择间隔的多行多列
print(df.loc[['0','2'],['name','national']])
# 选择连续的多行和间隔的多列
print(df.loc['0':'2',['name','national']])

# # 取一行
print(df.iloc[1])

# 取连续多行
print(df.iloc[0:2])

# 取间断的多行
print(df.iloc[[0,2],:])

# 取某一列
print(df.iloc[:,1])

# 某一个值
print(df.iloc[1,0])

name        Curry
age            20
national    China
Name: 1, dtype: object

In [61]:
# 某一个值
print(df.iloc[0,0])

# 修改值
df.iloc[0,0]='panda'
print(df)

James
       name age national
0     panda  18       us
1     Curry  20    China
2  Iversion  19       us

In [63]:
# dataframe中的排序方法
df = df.sort_values(by='age',ascending=True)
# ascending=False  ： 降序排列，默认是升序
print(df)

       name age national
0     panda  18       us
2  Iversion  19       us
1     Curry  20    China

In [68]:
#修改行列索引 
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), index = ['bj', 'sh', 'gz'], columns=['a', 'b', 'c'])
print(df1)
# 修改 df1 的 index
# index 暴力方法 
# print(df1.index) # 可以打印出print的值，同时也可以为其赋值
# df1.index = ['beijing', 'shanghai', 'guangzhou']
# print(df1)

#温柔方法 
# 自定义map函数（x是原有的行列值）
def test_map(x):
    
    return x+'_ABC'
# inplace：布尔值，默认为False。指定是否返回新的DataFrame。如果为True，则在原df上修改，返回值为None。
df1.rename(index=test_map, columns=test_map, inplace=True) 
print(df1)

# # 同时，rename 还可以传入字典，为某个 index 单独修改名称
df3 = df1.rename(index={'bj':'beijing'}, columns = {'a':'aa'}) 
print(df3)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8
         aa  b  c
beijing   0  1  2
sh        3  4  5
gz        6  7  8

In [69]:
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), index = ['bj', 'sh', 'gz'], columns=['a', 'b', 'c'])
print(df1)

# # 同时，rename 还可以传入字典，为某个 index 单独修改名称
df3 = df1.rename(index={'bj':'beijing'}, columns = {'a':'aa'}) 
print(df3)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8
         aa  b  c
beijing   0  1  2
sh        3  4  5
gz        6  7  8

In [73]:
# 列转化为索引
df1=pd.DataFrame({'X':range(5),'Y':range(5),'S':list("abcde"),'Z':[1,1,2,2,2]})
print(df1)

# 指定一列为索引 (drop=False 指定同时保留作为索引的列)
result = df1.set_index('S',drop=False)
result.index.name=None
print(result)

   X  Y  S  Z
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2
   X  Y  S  Z
a  0  0  a  1
b  1  1  b  1
c  2  2  c  2
d  3  3  d  2
e  4  4  e  2

In [75]:
# 行转为列索引
result = df1.set_axis(df1.iloc[0],axis=1,inplace=False)
result.columns.name=None
print(result)

   0  0  a  1
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2

In [76]:
# 添加数据 

# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])

print(df1)
# # 在数据框最后加上score一列
df1['score']=[80,98,67,90]   # 增加列的元素个数要跟原数据列的个数一样
print(df1)

print(df1['name'])  # 读, 写  可以修改  df['字段']
print(df1.name)    # 读  df.字段

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
     name gender  age  score
0    Snow      M   22     80
1  Tyrion      M   32     98
2   Sansa      F   18     67
3    Arya      F   14     90
0      Snow
1    Tyrion
2     Sansa
3      Arya
Name: name, dtype: object
0      Snow
1    Tyrion
2     Sansa
3      Arya
Name: name, dtype: object

In [73]:
# 在具体某个位置插入一列可以用insert的方法
# 语法格式：列表.insert(index, obj)
# index --->对象 obj 需要插入的索引位置。
# obj ---> 要插入列表中的对象（列名）

col_name=df1.columns.tolist()                    # 将数据框的列名全部提取出来存放在列表里

col_name.insert(2,'city')                      # 在列索引为2的位置插入一列,列名为:city，刚插入时不会有值，整列都是NaN
print(col_name)
df1=df1.reindex(columns=col_name)              # DataFrame.reindex() 对原行/列索引重新构建索引值
print(df1)
df1['city']=['北京','山西','湖北','澳门']   # 给city列赋值
print(df1)

# # # df中的insert,插入一列
# # '''
# # df.insert(iloc,column,value)
# # iloc:要插入的位置
# # colunm:列名
# # value:值
# # '''
print(df1)
# df1.insert(2,'scoreA',[80,98,67,90])
# print(df1)

     name gender city city  age  score
0    Snow      M   北京   北京   22     80
1  Tyrion      M   山西   山西   32     98
2   Sansa      F   湖北   湖北   18     67
3    Arya      F   澳门   澳门   14     90

In [77]:
# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])

print(df1)
# iloc , 名字, 值 
df1.insert(2,'name',[80,98,67,90])
print(df1)

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14

ValueError: cannot insert name, already exists

In [77]:
# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])
print(df1)

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14

In [78]:
# 修改一行
row=['111','222','333']
df1.iloc[1]=row
print(df1)

    name gender  age
0   Snow      M   22
1    111    222  333
2  Sansa      F   18
3   Arya      F   14

In [80]:
# 先创建一个DataFrame，用来增加进数据框的最后一行
new=pd.DataFrame({'name':'lisa',
                  'gender':'F',
                  'age':19
                  },index=[0])
print(new)
# # print("-------在原数据框df1最后一行新增一行，用append方法------------")
df1=df1.append(new,ignore_index=True)   # ignore_index=False,表示不按原来的索引，从0开始自动递增
print(df1)

   name gender  age
0  lisa      F   19
    name gender  age
0   Snow      M   22
1    111    222  333
2  Sansa      F   18
3   Arya      F   14
4   lisa      F   19
5   lisa      F   19

In [83]:
# 合并
'''
objs:合并对象
axis:合并方式，默认0表示按列合并，1表示按行合并
ignore_index:是否忽略索引 
'''
df1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['four','five'])
df2 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two','three'])
print(df1)
print(df2)

# # 按行合并
result = pd.concat([df1,df2],axis=1)
print(result)

# # 按列合并
result = pd.concat([df1,df2],axis=0,ignore_index=True)
print(result)

   four  five
0     0     1
1     2     3
2     4     5
   one  two  three
0    0    1      2
1    3    4      5
   four  five  one  two  three
0     0     1  0.0  1.0    2.0
1     2     3  3.0  4.0    5.0
2     4     5  NaN  NaN    NaN
   four  five  one  two  three
0   0.0   1.0  NaN  NaN    NaN
1   2.0   3.0  NaN  NaN    NaN
2   4.0   5.0  NaN  NaN    NaN
3   NaN   NaN  0.0  1.0    2.0
4   NaN   NaN  3.0  4.0    5.0

In [5]:
# DataFrame的删除
'''
lables：要删除数据的标签
axis：0表示删除行，1表示删除列，默认0
inplace:是否在当前df中执行此操作
'''
df2 = pd.DataFrame(np.arange(9).reshape(3,3),columns=['one','two','three'])
print(df2)
# df3=df2.drop(['one'],axis=1, inplace=False)
# print(df3)
df3=df2.drop([0,1],axis=0, inplace=False)
# print(df2)
print(df3)

   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
   one  two  three
2    6    7      8